/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/* Global Css */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0px 8%;
}
/* Banner Section styles*/
#banner_area {
  background: #2d25a0;
  color: #fff;
  padding-top: 5%;
  height: 100vh;
}
.banner-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-left h2 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
}

@keyframes btn_animation {
  0% {
    box-shadow: inset -7em 0 0 0 #6c6c6c, inset 7em 0 0 0 #6c6c6c;
    transform: translateY(0em);
  }
}
a.button {
  background: #e02c6d;

  text-decoration: none;
  color: #fff;
  padding: 10px 24px;
  font-weight: 400;
  margin-top: 27px;
  display: inline-block;
  transition: background ease 1s;
}
a.button:hover {
  -webkit-animation: btn_animation 2s;
  -moz-animation: btn_animation 2s;
  -o-animation: btn_animation 2s;
  animation: btn_animation 2s;
}
.banner-right img {
  width: 556px;
}

/* highlight Feature Section styles*/
section#featured_area {
  color: var(--black);
  padding-top: 2%;
  padding-bottom: 7%;
}
.featured-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-left {
  padding-right: 66px;
}
.featured-left h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}
.featured-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.featured-right img {
  width: 567px;
}

/* player list styles */
.player-list-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 27px 30px;
}
.player-info{
    padding: 15px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-info img{
    width: 330px;
    border-radius: 5px;
}
.player-info h2 {
    color: lightseagreen;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    margin: 16px 0;
  }
.player-info p{
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: gray;
}

/* footer styles */
footer {
  text-align: center;
  padding: 5%;
}
.footer_info img {
  width: 483px;
}
.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_social a {
  height: 32px;
  background: #e7e7e8;
  color: #969bab;
  border-radius: 24px;
  width: 32px;
  margin: 0 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.social-inner {
  display: flex;
}
.copyright {
  margin-top: 20px;
}

/* Responsive website */
/* ipad version */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-inner {
    flex-direction: column;
  }
  .banner-left h2 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
  }
  .banner-right img {
    width: 429px;
    margin-top: 44px;
  }
  .player-list-inner{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 44px;
  }
  .player-info img {
    width: 300px;
  }
  .featured-inner {
    flex-direction: column;
    margin-top: 50px;
  }
  .featured-left h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .featured-right img {
    width: 528px;
    margin-top: 50px;
  }
}

/* mobile version */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .banner-inner {
    flex-direction: column;
  }
  .banner-left h2 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
  }
  .banner-right img {
    width: 329px;
    margin-top: 44px;
  }
  .player-list-inner {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 44px;
  }
  .player-info img {
    width: 300px;
  }
  .featured-inner {
    flex-direction: column;
    margin-top: 50px;
  }
  .featured-left h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .featured-right img {
    width: 328px;
    margin-top: 128px;
  }
  .footer_info img {
    width: 220px;
    margin-bottom: 30px;
  }
}